//
   Created by hao.cheng on 2016/8/23.
span.label.label-default.tag(ng-if="data.status == 10") 正常
span.label.label-default.tag(ng-if="data.status == 12") 待审核
span.label.label-default.tag(ng-if="data.status == 14") 审核中
span.label.label-default.tag(ng-if="data.status == 111") 审核未通过
span.label.label-default.tag(ng-if="data.status == 30") 禁用
