//
   Created by hao.cheng on 2016/8/23.
span.label.label-default.tag(ng-if="data.taskStatus == 1") 待办
span.label.label-default.tag(ng-if="data.taskStatus == 2") 待审核
span.label.label-default.tag(ng-if="data.taskStatus == -1") 审核未通过
