<style>
    #body div #page #list_part div #widget-body div ul li ul li {
        float: none;
        height: 20px;
        margin: 0 0 0 0;
        border: none;
        text-align: left;
        width: auto;
    }
    div #page div.widget-body div.row-fluid ul.ul-groups li.li-first ul {
        width: 250px;
    }
    .icon {
        height: initial;
        width: initial;
    }
    .dropdown-menu li > a {
        padding: 3px 5px;
    }
    .dropdown-search .dropdown-menu li {
        padding: 0px;
    }
    .special_search {
        /*width: 350px;*/
        height: 43px;
        float: left;
        margin: 5px 0px 0px 10px;
    }
    .special_search span{
        color: #5faee3;
    }
    .special_search select{
        width: 100px;
        margin: 0px 5px 5px 5px;
        border: 1px solid #5faee3;
    }
/*导出框的控件效果*/
    .song_special_export .controls{
        margin-left: 140px;
    }
    .song_special_export .controls input{
        width: 60px;
        margin: 0px 10px;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                媒资库<span class="divider">/</span>歌曲专项库
            </h3>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <!-- BEGIN EXTRAS PORTLET-->
            <div class="panel panel-info" id="panelDemo1">
                <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo1}" >条件查询 <paneltool tool-collapse="tool-collapse"></paneltool></div>
                <div collapse="panelDemo1" class="panel-wrapper">
                    <div class="panel-body">
                    <!-- BEGIN FORM-->
                        <form class="form-horizontal">
                            <ul class="nav nav-tabs">
                                <li class="active" ><a>专项库</a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <label><h5>
                                        <a ng-repeat="tag in tags_list" ng-click="songTagClick(tag)">{{tag.tagName}}</a>
                                    </h5></label>
                                </div>
                            </div>
                        </form>
                    <!--</div>-->
                    <!-- END FORM-->
                    <!--点击后展示所有的标签展示-->
                    <div class="row-fluid">
                        <span id='language' class='label label-primary' ng-repeat="tag in songTags">
                            <i>{{tag.tagName}}</i>&nbsp;&nbsp;
                            <em class='fa fa-remove' style='cursor:pointer;' ng-click="songTagRemove(tag)"></em>
                        </span>
                    </div>
                    </div>
                </div>
            </div>
            <!-- END EXTRAS PORTLET-->
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
                <div class="panel panel-info" id="panelDemo2">
                    <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo2}" >歌曲专项库列表<paneltool tool-collapse="tool-collapse"></paneltool></div>
                    <div collapse="panelDemo2" class="panel-wrapper">
                        <div class="panel-body">
                            <form class="form-horizontal">
                                <div class="form-group">
                                    <label for="param-name" class="col-sm-1 control-label" >歌曲名</label>
                                    <div class="col-sm-2">
                                        <!--<input id="param-name" type="text" class="form-control input-sm" ng-model="params.searchSongName">-->
                                        <input id="param-name" type="text" class="form-control input-sm" style="width: 95%;" ng-model="songSearchText" placeholder="请输入歌曲名查询"
                                               typeahead-focus-first="false"
                                               uib-typeahead="song as song.allstr for song in getSearchResult($viewValue)"
                                               typeahead-on-select="addSong2List($item)"
                                               ng-keypress="enter($event, songSearchText, 'songName')">

                                    </div>
                                    <label for="param-artist" class="col-sm-1 control-label" >语种</label>
                                    <div class="col-sm-2">
                                        <select id="param-artist" class="form-control input-sm" ng-model="$parent.search_language" ng-options="language as language for language in languages | filter: filterNullInArray">
                                            <option value="">请选择语言</option>
                                        </select>
                                    </div>
                                    <label for="param-3" class="col-sm-1 control-label" >民族</label>
                                    <div class="col-sm-2">
                                        <select id="param-3" class="form-control input-sm" ng-model="$parent.search_ethnic" ng-options="ethnic as ethnic for ethnic in ethnics | filter: filterNullInArray">
                                            <option value="">请选择民族</option>
                                        </select>
                                    </div>
                                    <label for="param-4" class="col-sm-1 control-label" >分类</label>
                                    <div class="col-sm-2">
                                        <select id="param-4" class="form-control input-sm" ng-model="$parent.search_category" ng-options="category as category for category in categorys | filter: filterNullInArray">
                                            <option value="">请选择分类</option>
                                        </select>
                                    </div>
                                </div>
                            </form>
                            <div class="btn-group" ng-controller="song_special_controller">
                                <button type="button" class="btn btn-pill-left btn-default btn-sm" ng-click="import('song')">导入</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="export('song', selectedDataIds)">导出</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="deleteSpecialDatas(datas, 'song')">批量删除</button>
                                <button type="button" class="btn btn-pill-right btn-default btn-sm" ng-click="submit()">搜索</button>
                            </div>
                            <div class="btn-group" dropdown="dropdown" auto-close="outsideClick">
                                <button type="button" class="btn btn-pill-left btn-default btn-sm" ng-click="showAllHtmlElem()">全部</button>
                                <button dropdown-toggle=""  type="button" class="btn btn-pill-right btn-default btn-sm" >已选<b class="caret"></b></button>
                                <ul role="menu" class="dropdown-menu animated swing panel-body">
                                    <li class="chooseth" ng-repeat="html in song_html" style="">
                                        <input ng-model="html.cheched" checked type="checkbox" class="checkboxes"></span>
                                        {{html.name}}
                                    </li>
                                </ul>
                            </div>
                            <div class="table-responsive">
                                <table class="table table-striped">
                                    <thead>
                                    <tr role="row">
                                        <th style="width: 30px;">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" ng-click="checkAll(datas)">
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th class="relative" style="width: 50px;">
                                            序号
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[0].cheched}" style="width: 120px;">
                                            {{song_html[0].name}}
                                        </th>
                                        <th ng-class="{'hide':!song_html[1].cheched}" uib-dropdown dropdown-append-to-body auto-close="outsideClick" style="width: 95px;">
                                            <span uib-dropdown-toggle>
                                                <span>{{song_html[1].name}}</span>
                                                <em class="fa fa-chevron-down"></em>
                                            </span>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <div class="col-sm-12">
                                                    <input type="text" placeholder="请输入版权ID搜索" class="form-control input-sm" ng-model="search_copyrightId"
                                                           ng-keypress="enter($event, search_copyrightId, 'copyrightId')">
                                                </div>
                                            </ul>
                                        </th>
                                        <th ng-class="{'hide':!song_html[2].cheched}" uib-dropdown dropdown-append-to-body auto-close="outsideClick" style="width: 95px;">
                                            <span uib-dropdown-toggle>
                                                <span>{{song_html[2].name}}</span>
                                                <em class="fa fa-chevron-down"></em>
                                            </span>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <div class="col-sm-12">
                                                    <input type="text" placeholder="请输入歌曲ID搜索" class="form-control input-sm" ng-model="search_songId"
                                                           ng-keypress="enter($event, search_songId, 'songId')">
                                                </div>
                                            </ul>
                                        </th>
                                        <th ng-class="{'hide':!song_html[3].cheched}" uib-dropdown dropdown-append-to-body auto-close="outsideClick" style="width: 194px;">
                                            <span uib-dropdown-toggle>
                                                <span>{{song_html[3].name}}</span>
                                                <em class="fa fa-chevron-down"></em>
                                            </span>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <div class="col-sm-12">
                                                    <input type="text" placeholder="请输入歌曲名搜索" class="form-control input-sm" ng-model="search_songName"
                                                           ng-keypress="enter($event, search_songName, 'songName')">
                                                </div>
                                            </ul>
                                        </th>
                                        <th ng-class="{'hide':!song_html[4].cheched}" uib-dropdown dropdown-append-to-body auto-close="outsideClick" style="width: 70px;">
                                            <span uib-dropdown-toggle>
                                                <span>{{song_html[4].name}}</span>
                                                <em class="fa fa-chevron-down"></em>
                                            </span>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <div class="col-sm-12">
                                                    <input type="text" placeholder="请输入艺人ID搜索" class="form-control input-sm" ng-model="search_artistIds"
                                                           ng-keypress="enter($event, search_artistIds, 'artistIds')">
                                                </div>
                                            </ul>
                                        </th>
                                        <th ng-class="{'hide':!song_html[5].cheched}" uib-dropdown dropdown-append-to-body auto-close="outsideClick" style="width: 141px;">
                                            <span uib-dropdown-toggle>
                                                <span>{{song_html[5].name}}</span>
                                                <em class="fa fa-chevron-down"></em>
                                            </span>
                                            <ul class="dropdown-menu" uib-dropdown-menu role="menu">
                                                <div class="col-sm-12">
                                                    <input type="text" placeholder="请输入艺人名搜索" class="form-control input-sm" ng-model="search_artistName"
                                                           ng-keypress="enter($event, search_artistName, 'artistName')">
                                                </div>
                                            </ul>
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[6].cheched}" style="width: 100px;">
                                            {{song_html[6].name}}
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[7].cheched}" style="width: 101px;">
                                            {{song_html[7].name}}
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[8].cheched}" style="width: 101px;">
                                            {{song_html[8].name}}
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[9].cheched}" style="width: 101px;">
                                            {{song_html[9].name}}
                                        </th>
                                        <th class="relative" ng-class="{'hide':!song_html[10].cheched}" style="width: 100px;">
                                            {{song_html[10].name}}
                                        </th>
                                        <th class="relative" style="width: 140px;">
                                            操作
                                        </th>
                                    </thead>

                                    <tbody role="alert" aria-live="polite" aria-relevant="all" id="song_tbody">
                                    <tr class="gradeX odd" ng-repeat="data in datas track by $index">
                                        <td>
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="data.checked">
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td>
                                            <!--{{$index + page.startRow}}-->
                                            {{$index + 1}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[0].cheched}">
                                            <!--<span ng-if="data.status == 0">已引入</span>-->
                                            <!--<span ng-if="data.status == 1">已引入</span>-->
                                        </td>
                                        <td ng-class="{'hide':!song_html[1].cheched}">
                                            {{data.copyrightId}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[2].cheched}">
                                            {{data.songId}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[3].cheched}">
                                            {{data.songName}}
                                            <!--<a ng-click="showInfo(song)" href="javascript:;">{{song.songName}}</a>-->
                                            <!--<a href="javascript:;" style="margin-left:5px;" onclick="findSameData('${song.songName}','song');">-->
                                            <!--<i class="icon-search"></i>-->
                                            <!--</a>-->
                                        </td>
                                        <td ng-class="{'hide':!song_html[4].cheched}">
                                        <span ng-repeat="artist in data.artists">
                                            {{artist.artistId}}
                                        </span>
                                        </td>
                                        <td ng-class="{'hide':!song_html[5].cheched}">
                                        <span ng-repeat="artist in data.artists">
                                            {{artist.artistName}}
                                        </span>
                                        </td>
                                        <td ng-class="{'hide':!song_html[6].cheched}">
                                            {{data.coprTerm | date:'yyyy/MM/dd'}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[7].cheched}">
                                            {{data.language}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[8].cheched}">
                                            {{data.ethnic}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[9].cheched}">
                                            {{data.category}}
                                        </td>
                                        <td ng-class="{'hide':!song_html[10].cheched}">
                                            {{data.ctime | date:'yyyy-MM-dd'}}
                                        </td>
                                        <td style="line-height: 30px;">
                                            <a href="javascript:;" ng-click="showSpecialData(data, 'song')">
                                                查看
                                            </a>
                                            <a href="javascript:;" ng-click="editSpecialData(data, 'song')">
                                                编辑
                                            </a>
                                            <a href="javascript:;" ng-click="deleteSpecialData(data, 'song')">
                                                删除
                                            </a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <ng-include src="'app/views/partials/pagination.html'"></ng-include>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>
<!--专项库导入模板-->
<script type="text/ng-template" id="song_special_import.html">
    <div class="modal-header">
        <h3 class="modal-title">导入excel数据</h3>
    </div>
    <div class="modal-body">
    </div>
    <form class="form-horizontal" >
        <div class="control-group">
            <label class="control-label">上传附件</label>
            <div class="controls">
                <input type="file" id="file" name="file" class="default" fileread="uploadme.src">
            </div>
        </div>
        <div class="modal-footer">
            <span style="color: red;">{{error}}</span>
            <button class="btn btn-primary" type="button" ng-click="ok()">确认</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>
<!--专项库导出模板-->
<script type="text/ng-template" id="song_special_export.html">
    <div class="modal-header">
        <h3 class="modal-title">导出数据</h3>
    </div>
    <div class="modal-body">
    </div>
    <form class="form-horizontal song_special_export" >
        <div class="control-group">
            <input class="control-label" type="radio" ng-model="export_type" value="1">
            <div class="controls">
                按选中导出
            </div>
        </div>
        <div class="control-group">
            <input class="control-label" type="radio" ng-model="export_type" value="2">
            <div class="controls">
                序号
                起<input type="number" ng-model="numberStart">止<input type="number" ng-model="numberEnd">
            </div>
        </div>
        <div class="control-group">
            <input class="control-label" type="radio" ng-model="export_type" value="3">
            <div class="controls">
                页数
                起<input type="number" ng-model="pageStart">止<input type="number" ng-model="pageEnd">
            </div>
        </div>
        <div class="modal-footer">
            <span style="color: red;">{{error}}</span>
            <button class="btn btn-primary" type="button" ng-click="ok()">确认</button>
            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
        </div>
    </form>
</script>