//
   Created by kiracheng on 2016/7/19.
table.table.table-striped
    thead
        tr
            //th(style="width: 50px")
            //    check-all-btn
            th(style="width: 180px;") 歌曲名
            th(style="width: 120px;") 歌曲ID
            th(style="width: 180px;") 艺人
            th(style="width: 120px;") 艺人ID
            th(style="width: 180px;") 专辑
            th(style="width: 100px;") 词作者
            th(style="width: 100px;") 曲作者
            th(style="width: 80px;") 操作
            th(style="width: 120px;") 失败原因
    tbody
        tr.gradeX.odd(ng-repeat="data in $parent.datas")
            //td
            //    div.checkbox.c-checkbox
            //        label
            //            input(type="checkbox",ng-model="data.isCheck")
            //            span.fa.fa-check
            td {{data.songName}}
            td {{data.songId}}
            td
                a(ng-repeat="artist in data.artists",ui-sref="artistInfo({artistId:artist.artistId})") {{artist.artistName}};
            td
                span(ng-repeat="artist in data.artists") {{artist.artistId}};
            td
                a(ng-repeat="album in data.albums",ui-sref="albumInfo({albumId:album.albumId})") {{album.albumName}};
            td {{data.lyricsers}}
            td {{data.composers}}
            td
                a(ui-sref="songInfo({songId:data.songId})") 查看&nbsp
                a(ng-click="remove(datas,data)") 删除
            td {{data.msg}}
