//
   Created by YuChunzhuo-Dev on 2016/8/9.
style.
    input.ng-invalid.ng-dirty{
        border: 1px solid red;
    }
    .error{
        color: red;
        margin-top: 5px;
    }
.container-fluid
    .row-fluid
        .span12
            h3.page-title 媒资库/用户中心/系统常量配置
    .row
        .col-lg-12
            #panelDemo1.panel.panel-info
                .panel-heading(ng-class="{'panel-heading-collapsed':panelDemo1}") 配置详情
                    paneltool(tool-collapse="tool-collapse")
                .panel-wrapper(collapse="panelDemo1")
                    .panel-body
                        form.form-horizontal(name="form" ng-submit="submit(data)")
                            //span {{form.config}}
                            .form-group
                                label.col-lg-1.control-label 常量名称
                                .col-lg-4
                                    input.form-control.input-sm(ng-model="data.config" name="config" ng-required="true" ng-readonly="readonly")
                                .span(ng-class="{error: form.config.$dirty && form.config.$invalid}" ng-show="form.config.$dirty && form.config.$invalid") 常量名称不能为空
                            .form-group
                                label.col-lg-1.control-label 常量值
                                .col-lg-4
                                    input.form-control.input-sm(ng-model="data.value" name="value" ng-required="true" ng-readonly="readonly")
                                .span(ng-class="{error: form.value.$dirty && form.value.$invalid}" ng-show="form.value.$dirty && form.value.$invalid") 常量值不能为空
                            .form-group
                                label.col-lg-1.control-label 常量描述
                                .col-lg-4
                                    input.form-control.input-sm(ng-model="data.description" name="description" ng-readonly="readonly")
                            .form-group
                                label.col-lg-1.control-label 常量备注
                                .col-lg-4
                                    input.form-control.input-sm(ng-model="data.memo" name="memo" ng-readonly="readonly")
                            .form-group
                                label.col-lg-1.control-label
                                .col-lg-4
                                    button.btn.btn-primary.btn-sm(type="submit" ng-disabled="form.$invalid" ng-if="!readonly") 确认提交
                                    button.btn.btn-warning.btn-sm(type="button" ui-sref="app.constant.list") 返回