//
   Created by kiracheng on 2016/7/18.
table.table.table-striped
    thead
        tr
            th(style="width: 50px;") 选择
            th(style="width: 200px;") 姓名
            th(style="width: 120px;") 艺人ID
            th(style="width: 200px;") 别名
            th(style="width: 120px;") 昵称
            th(style="width: 100px;") 国家/地区
            th(style="width: 100px;") 性别
            th(style="width: 120px;") 操作
    tbody
        tr.gradeX.odd(ng-repeat="data in datas")
            td
                radio-button
            td {{data.artistName}}
            td {{data.artistId}}
            td {{data.artistNameAlias}}
            td {{data.nickName}}
            td {{data.nation}}
            td {{data.sex}}
            td
                a(ui-sref="artistInfo({artistId:data.artistId})") 查看&nbsp
                a(ng-click="remove(datas,data)") 删除
ng-include(src="'app/views/merge/merge-btn.html'")

