//
   Created by kiracheng on 2016/7/18.
div(ng-include="'app/views/merge/artist-table.html'",ng-if="type == 'artist'")
div(ng-include="'app/views/merge/album-table.html'",ng-if="type == 'album'")
div(ng-include="'app/views/merge/song-table.html'",ng-if="type == 'song'")
