<div class="row-fluid" id="search_part">
    <div class="span12">
        <!-- BEGIN EXTRAS PORTLET-->
        <div class="widget">
            <div class="widget-title">
                <h4><i class="icon search-icon"></i>标签查询</h4>
                   <span class="tools">
                   <a href="javascript:;" class="chevron-down" onclick="hideBody(this);"></a>
                   </span>
            </div>
            <div class="widget-body form">
                <!-- BEGIN FORM-->
                <form action="#" class="form-horizontal">
                    <div class="control-group">
                        <div class="span12">
                            <!--BEGIN TABS-->
                            <div class="tabbable tabbable-custom">
                                <ul class="nav nav-tabs">
                                    <li ng-repeat="tag in tags_title" ui-sref-active="active" ><a ui-sref="app.knowledge.list({id:tag.id})" ng-click="changeTag();">{{tag.name}} </a></li>
                                </ul>
                                <div class="tab-content">
                                    <div class="tab-pane active" id="tab_1_1">
                                        <label><h5>
                                            <a ng-repeat="tag in tags_list" ui-sref="app.knowledge.list.tagId({tagId:tag.id,tagName:tag.name})" >{{tag.name}}</a>
                                        </h5></label>
                                    </div>
                                </div>
                            </div>
                            <!--END TABS-->
                        </div>
                    </div>
                </form>
                <!-- END FORM-->
                <!--搜索后单个标签展示-->
                <div class="row-fluid" id="conditions_sg" ui-view="tag-view">

                </div>
            </div>
        </div>
        <!-- END EXTRAS PORTLET-->
    </div>
</div>

<div id="page" class="dashboard">
    <div class="row-fluid" id="list_part">
        <div class="span12">
            <div ui-view="knowledge-view-list"></div>
            <!-- BEGIN EXAMPLE TABLE PORTLET-->
            <!--<div class="widget ">-->
                <!--<div class="widget-title">-->
                    <!--<h4><i class="icon list-icon"></i>歌曲列表</h4>-->
							<!--<span class="tools">-->
							<!--<a href="javascript:;" class="chevron-down" onclick="hideBody(this);"></a>-->
							<!--</span>-->
                <!--</div>-->
                <!--<div class="widget-body" id="widget-body">-->
                    <!--<div class="row-fluid" style="background-color: #fff;z-index:99;">-->
                        <!--<ul class="ul-groups">-->
                            <!--<li class="li-first disabled">导入</li>-->
                            <!--<li class="li-last" onclick="downloadExcel();" >导出</li>-->
                            <!--&lt;!&ndash;<li ng-click="batchPass()">通过</li>&ndash;&gt;-->
                            <!--&lt;!&ndash;<li class="disabled li-last">不通过</li>&ndash;&gt;-->
                        <!--</ul>-->
                    <!--</div>-->
                    <!--<div class="row-fluid" id="content_title" style="background-color: rgb(255, 255, 255); z-index: 99; position: static;">-->
                    <!--</div>-->
                    <!--<div class="dataTables_wrapper form-inline" ui-view="knowledge-view-list">-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->
            <!-- END EXAMPLE TABLE PORTLET-->
        </div>
    </div>
</div>

