<!--Created by hao.cheng on 2016/8/22.-->
<label class="col-sm-1 control-label">创建时间起</label>
<div class="col-sm-2">
   <input type="text" placeholder="请输入创建时间起" ng-model="form.createStartTime" my-date="" uib-datepicker-popup="" is-open="date1" datepicker-options="dateOptions" close-text="关闭" clear-text="清除" current-text="今天" ng-click="date1 = !date1" class="form-control input-sm"
   />
</div>
<label class="col-sm-1 control-label">创建时间止</label>
<div class="col-sm-2">
   <input type="text" placeholder="请输入创建时间止" ng-model="form.createEndTime" my-date="" uib-datepicker-popup="" is-open="date2" datepicker-options="dateOptions" close-text="关闭" clear-text="清除" current-text="今天" ng-click="date2 = !date2" class="form-control input-sm"
   />
</div>