<style>
    #body div #page #list_part div #widget-body div ul li ul li {
        float: none;
        height: 20px;
        margin: 0 0 0 0;
        border: none;
        text-align: left;
        width: auto;
    }

    div #page div.widget-body div.row-fluid ul.ul-groups li.li-first ul {
        width: 250px;
    }

    .icon {
        height: initial;
        width: initial;
    }

    .dropdown-menu li > a {
        padding: 3px 5px;
    }

    .dropdown-search .dropdown-menu li {
        padding: 0px;
    }
</style>
<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                媒资库<span class="divider">/</span>所有专辑展示
            </h3>
        </div>
    </div>

    <div ui-view="view-list">
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" id="panelDemo1">
                    <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo1}" >条件查询 <paneltool tool-collapse="tool-collapse"></paneltool></div>
                    <div collapse="panelDemo1" class="panel-wrapper">
                        <div class="panel-body">
                        <!-- BEGIN FORM-->
                        <form class="form-horizontal">
                            <div class="form-group">
                                <label for="param-name" class="col-sm-1 control-label" >专辑ID</label>
                                <div class="col-sm-2">
                                    <input id="param-name" type="text" placeholder="请输入专辑ID" class="form-control input-sm" ng-model="form.albumIds" valid-number>
                                </div>
                                <label for="param-artist" class="col-sm-1 control-label" >专辑名称</label>
                                <div class="col-sm-2">
                                    <input id="param-artist" type="text" placeholder="请输入专辑名称" class="form-control input-sm" ng-model="form.albumKeyword">
                                </div>
                                <label for="param-copyfName" class="col-sm-1 control-label" >所属艺人</label>
                                <div class="col-sm-2">
                                    <input id="param-copyfName" type="text" placeholder="请输入所属艺人" class="form-control input-sm" ng-model="form.artistKeyword" autocomplete="off"
                                           typeahead-focus-first="false"
                                           uib-typeahead="data.artistName as data.allstr for data in getArtistInputSearch($viewValue)"
                                           typeahead-on-select="addAccurateArtist($item);">
                                </div>
                                <label class="col-sm-2 control-label">
                                    <span class='label label-default tag' ng-show="form.artistId">{{form.accurateArtist}}&nbsp;<em class="fa fa-remove" ng-click="removeAccurateSearch();"></em></span>
                                </label>
                            </div>
                            <div class="form-group">
                                <label for="param-10" class="col-sm-1 control-label" >最后编辑</label>
                                <div class="col-sm-2" ng-controller="taskCtrl">
                                    <input id="param-10" class="form-control input-sm" placeholder="请输入最后编辑者" ng-model="form.lastEditSearch" type="text"
                                           uib-typeahead="user.name as user.allname for user in users | filter:{allname:$viewValue}" typeahead-on-select="selectLastEdit($item)" autocomplete="off">
                                </div>
                                <label class="col-sm-1 control-label" >抽查状态</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="form.ckResult">
                                        <option value="" selected>请选择</option>
                                        <option value="1">可优化</option>
                                        <option value="2">不合格</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label" >人工评分</label>
                                <div class="col-sm-1">
                                    <input type="text" placeholder="起始" class="form-control input-sm" ng-model="form.mscoreMin" decimal>
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" placeholder="截止" class="form-control input-sm" ng-model="form.mscoreMax" decimal>
                                </div>
                                <label class="col-sm-1 control-label" >热度评分</label>
                                <div class="col-sm-1">
                                    <input type="text" placeholder="起始" class="form-control input-sm" ng-model="form.hotScoreMin" decimal>
                                </div>
                                <div class="col-sm-1">
                                    <input type="text" placeholder="截止" class="form-control input-sm" ng-model="form.hotScoreMax" decimal>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-1 control-label" >状态</label>
                                <div class="col-sm-2">
                                    <select class="form-control input-sm" ng-model="form.status">
                                        <option value="">全部</option>
                                        <option value="10">正常</option>
                                        <option value="12">待审核</option>
                                        <option value="14">审核中</option>
                                        <option value="30">禁用</option>
                                        <option value="111">未通过</option>
                                    </select>
                                </div>
                                <label class="col-sm-1 control-label" >专辑类型</label>
                                <div class="col-sm-2">
                                    <select ng-model="form.category" class="form-control input-sm">
                                        <option value="">请选择专辑类型</option>
                                        <option value="精选集">精选集</option>
                                        <option value="影视原声带">影视原声带</option>
                                        <option value="EP">EP</option>
                                        <option value="概念专辑">概念专辑</option>
                                        <option value="录音室专辑">录音室专辑</option>
                                        <option value="Live专辑">Live专辑</option>
                                        <option value="单曲发行">单曲发行</option>
                                        <option value="数字专辑">数字专辑</option>
                                        <option value="合集">合集</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-3">
                                    <tag-search-tpl></tag-search-tpl>
                                </div>
                                <div class="col-sm-2" ng-if="form.style">
                                    <div class="radio c-radio c-radio-nofont" ng-click="changeTagType(1);">
                                        <label>
                                            <input type="radio" value="1" ng-model="form.style">
                                            <span></span>主风格
                                        </label>
                                    </div>
                                    <div class="radio c-radio c-radio-nofont" ng-click="changeTagType(2);">
                                        <label>
                                            <input type="radio" value="2" ng-model="form.style">
                                            <span></span>次风格
                                        </label>
                                    </div>
                                </div>
                                <label class="col-sm-7 control-label" style="text-align: left">
                                    <span class='label label-default tag' ng-repeat="tag in form.tagBeans">
                                        <i>{{tag.name}}</i>&nbsp;<em class="fa fa-remove" ng-click="albumTagRemove(tag)"></em>
                                    </span>
                                </label>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-4">
                                    <div class="btn-group" >
                                        <button class="btn btn-default btn-sm" data-ng-click="submit();">查询</button>
                                        <button class="btn btn-default btn-sm" data-ng-click="reset();">重置</button>
                                        <!--<button class="btn btn-default btn-sm" data-ng-click="addToCheckTask(datas)">添加到抽查</button>-->
                                    </div>
                                </div>
                            </div>
                        </form>
                        <!-- END FORM-->
                    </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-default" id="panelDemo2">
                    <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo2}" >专辑列表 <paneltool tool-collapse="tool-collapse"></paneltool></div>
                    <div collapse="panelDemo2" class="panel-wrapper">
                        <div class="panel-body">
                            <div class="btn-group" ng-controller="ModalCtrl">
                                <button type="button" class="btn btn-pill-left btn-default btn-sm disabled" >导入</button>
                                <button type="button" class="btn btn-default btn-sm disabled" >导出</button>
                                <!--<button type="button" class="btn btn-primary" ng-click="del();">删除</button>-->
                                <button type="button" class="btn  btn-default btn-sm" merge-button>合并</button>
                                <button type="button" class="btn btn-default btn-sm" ng-click="assignToTask('album', datas);">指派</button>
                                <button type="button" class="btn btn-pill-right btn-default btn-sm " ng-click="new('album');">新建</button>
                            </div>
                            <div class="btn-group" dropdown="dropdown" auto-close="outsideClick">
                                <button type="button" class="btn btn-pill-left btn-default btn-sm " ng-click="showAllHtmlElem()">全选</button>
                                <!--<button type="button" class="btn btn-primary" ng-click="del();">删除</button>-->
                                <button dropdown-toggle=""  type="button" class="btn btn-pill-right btn-default btn-sm " >已选<b class="caret"></b></button>
                                <ul role="menu" class="dropdown-menu animated swing panel-body">
                                    <li class="chooseth" ng-repeat="html in album_html" style="">
                                        <input ng-model="html.checked" checked type="checkbox" class="checkboxes" ng-click="storageTableShow();">
                                        {{html.name}}
                                    </li>
                                </ul>
                            </div>
                            <div ng-include="'app/views/modals/modal-assigntotask.html'"></div>
                            <div class="table-responsive" >
                                <table class="table table-striped">
                                    <thead>
                                    <tr >
                                        <th style="width: 20px;">
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" ng-click="checkAll(datas)">
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </th>
                                        <th style="width: 40px" ng-class="{'hide':!album_html[0].checked}">状态
                                        </th>
                                        <th style="width: 80px;" class="relative" ng-class="{'hide':!album_html[1].checked}" ng-click="html_albumId = !html_albumId">
                                            {{album_html[1].name}}
                                        <th style="width: 230px;" class="relative" ng-class="{'hide':!album_html[2].checked}" ng-click="html_albumName = !html_albumName">
                                            {{album_html[2].name}}
                                        </th>
                                        <th style="width: 250px;" class="relative" ng-class="{'hide':!album_html[3].checked}" ng-click="html_artistName = !html_artistName">
                                            {{album_html[3].name}}
                                        </th>
                                        <th style="width: 100px;" ng-class="{'hide':!album_html[4].checked}">
                                            {{album_html[4].name}}
                                        </th>
                                        <th style="width: 80px;" ng-class="{'hide':!album_html[5].checked}">{{album_html[5].name}}
                                        </th>
                                        <th style="width: 100px;">
                                            操作
                                        </th>
                                    </thead>

                                    <tbody >
                                    <tr ng-repeat="data in datas" class="gradeX odd">
                                        <td>
                                            <div class="checkbox c-checkbox">
                                                <label>
                                                    <input type="checkbox" ng-model="data.isCheck">
                                                    <span class="fa fa-check"></span>
                                                </label>
                                            </div>
                                        </td>
                                        <td  ng-class="{'hide':!album_html[0].checked}">
                                            <ng-include src="'app/views/partials/data-status-tpl.html'"></ng-include>
                                        </td>
                                        <td ng-class="{'hide':!album_html[1].checked}">
                                            {{data.albumId}}
                                        </td>
                                        <td ng-class="{'hide':!album_html[2].checked}">
                                            <td-album></td-album>
                                            <td-album-search></td-album-search>
                                        </td>
                                        <td ng-class="{'hide':!album_html[3].checked}">
                                            <td-artists></td-artists>
                                        </td>
                                        <td ng-class="{'hide':!album_html[4].checked}">
                                            {{data.publishTime}}
                                        </td>
                                        <td ng-class="{'hide':!album_html[5].checked}">
                                            {{data.language}}
                                        </td>
                                        <!--<td ng-class="{'hide':!album_html[6].cheched}"></td>-->
                                        <!--<td ng-class="{'hide':!album_html[7].cheched}"></td>-->
                                        <td >
                                            <a href="javascript:;" ng-click="editJump(data);" title="编辑" ng-if="data.status != 30 && data.mstat != 1 && !data.lockUser" ng-right-click="rightClick(data);">编辑</a>
                                            <a ng-click="editJump(data);" ng-right-click="rightClick(data);" ng-if="data.lockUser && (user.id == data.lockUser.uid)">{{data.lockUser.name}}</a>
                                            <span ng-if="data.lockUser && (user.id != data.lockUser.uid)">{{data.lockUser.name}}</span>
                                            <!--<a href="javascript:;" ng-click="extractedMaterial(album.albumId, 'album')" title="重新抽取素材">抽取</a>-->
                                            <a title="拆分"  ng-click="separate('album',data.albumId);" target="_blank" ng-right-click="separate('album',data.albumId);">拆分</a>
                                            <operate-data></operate-data>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <ng-include src="'app/views/partials/pagination.html'"></ng-include>
                        </div>
                        <div class="panel-footer"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>