<!--Created by hao.cheng on 2016/8/2.-->
<table class="table table-striped">
   <thead>
      <tr>
         <th style="width: 50px">
            <check-all-btn></check-all-btn>
         </th>
         <th style="width: 40px;">序号</th>
         <th style="width: 120px;">版权ID</th>
         <th style="width: 140px;">
            <span ng-if="$parent.module != 3">产品歌曲名</span>
            <span ng-if="$parent.module == 3">编目歌曲名</span>
         </th>
         <th style="width: 120px;">
            <span ng-if="$parent.module != 3">产品歌手名</span>
            <span ng-if="$parent.module == 3">歌手名</span>
         </th>
         <th style="width: 120px;">
            <span ng-if="$parent.module != 3">产品专辑名</span>
            <span ng-if="$parent.module == 3">专辑名</span>
         </th>
         <th style="width: 140px;">新歌/首发</th>
         <th style="width: 100px;">优质</th>
         <th style="width: 100px;" ng-if="$parent.module == 1">用户</th>
         <th style="width: 80px;" ng-if="$parent.module == '-1,1,2'">编目状态</th>
         <th style="width: 100px;" ng-if="$parent.module == '-1,1,2'">工单状态</th>
         <th style="width: 120px;" ng-if="$parent.module == '-1,1,2' || $parent.module == 3">操作</th>
         <th style="width: 100px;" ng-if="$parent.module != 0">分配时间</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="data in $parent.datas track by $index" class="gradeX odd">
         <td>
            <div class="checkbox c-checkbox">
               <label>
                  <input type="checkbox" ng-model="data.isCheck" />
                  <span class="fa fa-check"></span>
               </label>
            </div>
         </td>
         <td>{{$index+1}}</td>
         <td>{{data.copyrightId}}</td>
         <td>
            <span ng-if="$parent.module != 3">{{data.cpSongName}}</span>
            <td-song ng-if="$parent.module == 3"></td-song>
            <!--a(ng-if="$parent.module == 3",ui-sref="songInfo({songId: data.songId})") {{data.songName}}-->
         </td>
         <td>
            <span ng-if="$parent.module != 3">{{data.cpArtistName}}</span>
            <td-artists ng-if="$parent.module == 3"></td-artists>
            <!--a(ng-if="$parent.module == 3 && data.artists.length > 1",ui-sref="artistInfo({artistId: artist.artistId})",ng-repeat="artist in data.artists") {{artist.artistName}}、-->
            <!--a(ng-if="$parent.module == 3 && data.artists.length == 1",ui-sref="artistInfo({artistId: artist.artistId})",ng-repeat="artist in data.artists") {{artist.artistName}}-->
         </td>
         <td>
            <span ng-if="$parent.module != 3">{{data.cpAlbumName}}</span>
            <td-albums ng-if="$parent.module == 3"></td-albums>
            <!--a(ng-if="$parent.module == 3 && data.albums.length > 1",ui-sref="albumInfo({albumId: album.albumId})",ng-repeat="album in data.albums") {{album.albumName}}、-->
            <!--a(ng-if="$parent.module == 3 && data.albums.length == 1",ui-sref="albumInfo({albumId: album.albumId})",ng-repeat="album in data.albums") {{album.albumName}}-->
         </td>
         <td>{{data.newSong}}</td>
         <td>{{data.degree}}</td>
         <td ng-if="$parent.module == 1">{{data.edit.name}}</td>
         <td ng-if="$parent.module == '-1,1,2'">
            <span ng-if="data.karakalStatus == 10" class="label label-default tag">已编目</span>
            <span ng-if="data.karakalStatus == 11" class="label label-default tag">未编目</span>
         </td>
         <td ng-if="$parent.module == '-1,1,2'">
            <span ng-if="data.taskStatus == 1" class="label label-default tag">待办</span>
            <span ng-if="data.taskStatus == 2" class="label label-default tag">待审核</span>
            <span ng-if="data.taskStatus == -1" class="label label-default tag">审核未通过</span>
         </td>
         <td ng-if="$parent.module == '-1,1,2' || $parent.module == 3">
            <td-catalog></td-catalog>
            <!--a(ng-if="data.karakalStatus == 10",ui-sref="app.catalog.info({copyId:data.copyrightId,taskId:data.taskId})") 重新编目&nbsp;-->
            <!--a(ng-if="data.karakalStatus == 11",ui-sref="app.catalog.info({copyId:data.copyrightId,taskId:data.taskId})") 编目&nbsp;--><a ng-click="tagging(data, '_self');" ng-if="data.karakalStatus == 10 &amp;&amp; $parent.module != 3" ng-right-click="tagging(data, '_blank');">打标签&nbsp;</a></td>
         <td ng-if="$parent.module != 0">{{data.distributionTime | date : 'yyyy-MM-dd'}}</td>
      </tr>
   </tbody>
</table>
<ng-include src="'app/views/partials/pagination.html'"></ng-include>