<!--Created by YuChunzhuo-Dev on 2016/8/2.
-->
<script type="text/ng-template" id="deleteTpl.html">
   <div class="modal-header">
      <button type="button" ng-click="cancel();" class="close">×</button>
      <h4 id="myModalLabel" class="modal-title">批量删除</h4>
   </div>
   <div class="modal-body">
      <form class="form-horizontal">
         <div class="form-group">
            <div style="float: left;margin-left: 15px;" class="radio c-radio c-radio-nofont">
               <label>
                  <input type="radio" value="1" ng-model="export.type" />
                  <span></span>
               </label>
            </div>
            <label class="control-label">按选中删除</label>
         </div>
         <div class="form-group">
            <div style="float: left;margin-left: 15px;" class="radio c-radio c-radio-nofont">
               <label>
                  <input type="radio" value="2" ng-model="export.type" />
                  <span></span>
               </label>
            </div>
            <label class="control-label">按序号删除</label>
            <label class="control-label col-sm-1">起</label>
            <div class="col-sm-2">
               <input type="text" ng-model="export.startNo" class="form-control input-sm" />
            </div>
            <label class="control-label col-sm-1">止</label>
            <div class="col-sm-2">
               <input type="text" ng-model="export.endNo" class="form-control input-sm" />
            </div>
         </div>
         <div class="form-group">
            <div style="float: left;margin-left: 15px;" class="radio c-radio c-radio-nofont">
               <label>
                  <input type="radio" value="3" ng-model="export.type" />
                  <span></span>
               </label>
            </div>
            <label class="control-label">按页数删除</label>
            <label class="control-label col-sm-1">起</label>
            <div class="col-sm-2">
               <input type="text" ng-model="export.pageStart" class="form-control input-sm" />
            </div>
            <label class="control-label col-sm-1">止</label>
            <div class="col-sm-2">
               <input type="text" ng-model="export.pageEnd" class="form-control input-sm" />
            </div>
         </div>
      </form>
   </div>
   <div class="modal-footer">
      <span style="color: red;">{{error}}</span>
      <button type="button" ng-click="ok();" class="btn btn-primary">确认</button>
      <button type="button" ng-click="cancel();" class="btn btn-warning">取消</button>
   </div>
</script>