//
   Created by hao.cheng on 2016/7/26.
script( type="text/ng-template",id="importTpl.html")
    div.modal-header
        button.close(type="button",ng-click="cancel();") ×
        h4.modal-title(id="myModalLabel") 导入
    div.modal-body
        form.form-horizontal
            div.form-group
                label.control-label.col-sm-2 下载模板
                label.control-label.col-sm-3
                    a(ng-click="downloadTpl();") 点击下载模板
            div.form-group
                label.control-label.col-sm-2 上传附件
                div.col-sm-4
                    input.form-control.input-sm(type="file",name="excelFile",id="excelFile")
    div.modal-footer
        span(style="color: red;") {{error}}
        button.btn.btn-primary(type="button",ng-click="import();") 确认
        button.btn.btn-warning(type="button",ng-click="cancel();") 取消
