<style>
    .highcharts-container{
        margin: auto;
        float: left;
    }
    .catch-server{
        margin: auto;
        background-color: #FFFFFF;
        width: 1050px;
    }
    i{
        cursor: pointer;
    }
</style>
<div ng-controller="catch_chart">
    <div class="catch-server">
        当前抓取服务器:192.168.1.144
        <span uib-dropdown>
            <i class="icon-double-angle-down" uib-dropdown-toggle></i>
            <ul class="dropdown-menu" role="menu"  style="max-width: 234px;width: auto;">
                <li role="menuitem"><a style="width:auto;" href="javascript:;">192.168.2.144</a></li>
                <li role="menuitem"><a style="width:auto;" href="javascript:;">192.168.2.154</a></li>
                <li role="menuitem"><a style="width:auto;" href="javascript:;">192.168.1.134</a></li>
            </ul>
        </span>
    </div>
    <highchart config="chartConfig"></highchart>
    <div id="chartConfig_monitor_new"></div>
    <highchart config="chartConfig_artist"></highchart>
    <highchart config="chartConfig_album"></highchart>
    <highchart config="chartConfig_song"></highchart>
    <highchart config="chartConfig_song_form"></highchart>
    <!--<highchart config="chartConfig_new"></highchart>-->
</div>
