//
   Created by YuChunzhuo on 2016/8/26.

style.
    tr.gradeX.odd.font-center{
        height: 70px;
    }
    tr.gradeX.odd.font-center td{
        text-align: center;
    }

div.repsonsive
    div.btn-group(style="float: right;margin-right: 50px;")
        button.btn.btn-default.btn-sm(ng-click="changeTagsStatus(datas, 1)") 通过
        button.btn.btn-default.btn-sm(ng-click="changeTagsStatus(datas, -1)") 禁用
    table.table.table-striped
        thead
            tr
                th(style="width: 25px")
                    check-all-btn
                th(style="width: 35px;") 序号
                th(style="width: 65px;") 分类
                th(style="width: 50px;") 歌曲ID
                th(style="width: 120px;") 歌曲名
                th(style="width: 120px;") 艺人名
                th(style="width: 40px;") 热度评分
                th(style="width: 40px;") 标签
                th(style="width: 35px;") 权重
                th(style="width: 35px;") 状态
                //th(style="width: 35px;") 最新值
                //th(style="width: 35px;") 最热值
                //th(style="width: 35px;") 综合值
                th(style="width: 80px;") 操作
                th(style="width: 40px;") 用户
                th(style="width: 93px;") 操作时间
        tbody
            tr.gradeX.odd.font-center(ng-if="datas.length == 0")
                td(colspan=16) 当前条件没有数据
            tr.gradeX.odd(ng-repeat="data in datas track by $index" ng-init="data.isCheck = false")
                td
                    div.checkbox.c-checkbox
                        label
                            input(type="checkbox",ng-model="data.isCheck")
                            span.fa.fa-check
                td {{$index+1}}
                td(ng-switch='data.copyrightCategory',ng-click="data.isCheck = !data.isCheck")
                    span(ng-switch-when='1') 正式未过期
                    span(ng-switch-when='2') 正式已过期
                    span(ng-switch-when='3') 互联网引入
                    span(ng-switch-when='4') 未引入
                td {{data.songId}}
                td
                    play-icon
                    td-song
                    td-song-search
                td
                    td-artists
                td(ng-click="data.isCheck = !data.isCheck") {{data.hotScore}}
                td(ng-click="data.isCheck = !data.isCheck") {{data.tagName}}
                td(ng-click="data.isCheck = !data.isCheck") {{data.weight}}
                td(ng-switch='data.tagStatus',ng-click="data.isCheck = !data.isCheck")
                    span(ng-switch-when='0') 默认
                    span(ng-switch-when='1') 通过
                    span(ng-switch-when='-1') 禁用
                //td {{data.publistTime | date: 'yyyy-MM-dd'}}
                //td {{data.hotScore}}
                //td 综合值
                td
                    a(ng-if="data.tagStatus != 1" ng-click="changeTagStatus(data)") 通过
                    span
                    a(ng-if="data.tagStatus != -1" ng-click="changeTagStatus(data)") 禁用
                    span
                    a(ng-if="orderType == 1 || orderType == 2" ng-click="qualityChangeOrder(data, orderType)" ng-controller="ModalCtrl") 排序
                td(ng-click="data.isCheck = !data.isCheck") {{data.editUser.name}}
                td(ng-click="data.isCheck = !data.isCheck") {{data.utime | date : 'yyyy-MM-dd HH:mm:ss'}}
    ng-include(src="'app/views/partials/pagination.html'")
div(ng-include="'app/views/modals/modal-order.html'")