//
   Created by YuChunzhuo-Dev on 2016/8/18.
span.label.label-default(title="未关联状态" ng-if="data.status == -1") 未关联
span.label.label-default(title="初始状态" ng-if="data.status == 0") 初
span.label.label-default(title="抽取状态" ng-if="data.status == 1") 抽
span.label.label-default(title="正常状态" ng-if="data.status == 10") 正常
span.label.label-default(title="待审核状态" ng-if="data.status == 12") 待审核
span.label.label-default(title="审核中状态" ng-if="data.status == 14") 审核中
span.label.label-default(title="编辑中状态" ng-if="data.status == 15") 编辑中
span.label.label-default(title="待删除状态" ng-if="data.status == 20") 待删除
span.label.label-default(title="禁用状态" ng-if="data.status == 30") 禁用
span.label.label-default(title="未通过状态" ng-if="data.status == 111") 未通过
span.label.label-default(title="素材锁定" ng-if="data.mstat == 4") 锁