//
   Created by kiracheng on 2016/7/8.
a.btn.btn-default(type="button",ng-click="preData(data,type,artistTags,tagExt);",ng-if="preBtn")  预览
a.btn.btn-default(type="button",ng-click="app.offsidebarOpenM = !app.offsidebarOpenM;",ng-if="!pre")  日志
a.btn.btn-default(type="button",ng-click="back();",ng-if="returnBtn")  返回

