<style>
    .detail table tbody tr{
        height: 35px;
    }
    .detail table tbody tr td.name{
        width: 6%;
    }
    .detail table tbody tr td.content{
        width: 13%;
    }
    .detail table tbody tr td select{
        border-radius: 0;
        height: 22px;
    }
    .detail .well{
        margin-bottom: 0;
    }
    form{
        margin-bottom: 0;
    }
    i{
        cursor: pointer;
    }
    .detail table tbody tr td input[type="checkbox"]{
        width: auto;
        margin-top: 0;
    }
    .nav.nav-tabs{
        margin-left: 25px;
        margin-bottom: 0;
    }
    .dropdown-menu table{
        margin-left: 0;
    }
    .dropdown-menu .btn{
        padding: 0;
    }
    .dropdown-menu table thead tr{
        height: 20px;
    }
    .dropdown-menu table tbody tr{
        height: 20px;
    }
    input{
        font-family: 'Microsoft Yahei';
    }
    .tab-content {
        padding: 10px 20px;
    }
</style>
<div class="container-fluid" >
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                媒资库<span class="divider">/</span>用户中心<span class="divider">/</span>审核项目
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" id="panelDemo1">
                <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo1}" >自定义查询<paneltool tool-collapse="tool-collapse"></paneltool></div>
                <div collapse="panelDemo1" class="panel-wrapper">
                    <div class="panel-body">
                        <form class="form-horizontal">
                            <ul class="nav nav-tabs">
                                <li ui-sref-active="active" ng-repeat="tab in tabs"><a ui-sref="app.examine.{{tab.type}}({type:tab.type,pageSize:50,pageNo:1})">{{tab.name}} </a></li>
                            </ul>
                            <div class="tab-content">
                                <div class="form-group" ng-if="type == 1">
                                    <label for="param-name" class="col-sm-1 control-label" >歌曲ID</label>
                                    <div class="col-sm-2">
                                        <input id="param-name" type="text" placeholder="请输入歌曲ID" class="form-control input-sm" ng-model="$parent.form.songIds" valid-number>
                                    </div>
                                    <label for="param-artist" class="col-sm-1 control-label" >歌曲名</label>
                                    <div class="col-sm-2">
                                        <input id="param-artist" class="form-control input-sm" ng-model="$parent.form.songName" type="text" placeholder="请输入歌曲名">
                                    </div>
                                    <label for="param-3" class="col-sm-1 control-label" >专辑名</label>
                                    <div class="col-sm-2">
                                        <input id="param-3" type="text" placeholder="请输入专辑名" class="form-control input-sm" ng-model="$parent.form.albumName">
                                    </div>
                                    <label for="param-4" class="col-sm-1 control-label" >艺人名</label>
                                    <div class="col-sm-2">
                                        <input id="param-4" type="text" placeholder="请输入艺人名" class="form-control input-sm" ng-model="$parent.form.artistName">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 1">
                                    <label for="param-6" class="col-sm-1 control-label" >新歌/首发</label>
                                    <div class="col-sm-2">
                                        <input id="param-6" type="text" placeholder="请输入新歌/首发" class="form-control input-sm" ng-model="$parent.form.newSong">
                                    </div>
                                    <label class="col-sm-1 control-label" >编辑人</label>
                                    <div class="col-sm-2">
                                        <edit-user-tpl></edit-user-tpl>
                                    </div>
                                    <label for="param-8" class="col-sm-1 control-label" >提交时间起</label>
                                    <div class="col-sm-2">
                                        <input id="param-8" type="text" placeholder="请输入提交起始时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.startTime" is-open="dateStatus.opened1"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(1)" >
                                    </div>
                                    <label for="param-9" class="col-sm-1 control-label" >提交时间止</label>
                                    <div class="col-sm-2">
                                        <input id="param-9" type="text" placeholder="请输入提交截止时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.endTime" is-open="dateStatus.opened2"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(2)" >
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 1">
                                    <label for="param-5" class="col-sm-1 control-label" >优质度</label>
                                    <div class="col-sm-2">
                                        <input id="param-5" type="text" placeholder="请输入优质度" class="form-control input-sm" ng-model="$parent.form.degree">
                                    </div>
                                    <label class="col-sm-1 control-label" >人工评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.mscoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.mscoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >热度评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.hotScoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.hotScoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >紧急程度</label>
                                    <div class="col-sm-2">
                                        <select ng-model="$parent.form.urgentDegree" class="form-control input-sm">
                                            <option value="">请选择紧急程度</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">-1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 1">
                                    <label class="col-sm-1 control-label" >项目名称</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入项目名称" class="form-control input-sm" ng-model="$parent.form.projectName">
                                    </div>
                                    <label class="col-sm-1 control-label" >分配时间起</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入分配起始时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.distributionStartTime" is-open="dateStatus.opened3"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="dateStatus.opened3 = true;" >
                                    </div>
                                    <label class="col-sm-1 control-label" >分配时间止</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入分配截止时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.distributionEndTime" is-open="dateStatus.opened4"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="dateStatus.opened4 = true;" >
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 2">
                                    <label class="col-sm-1 control-label" >专辑ID</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入专辑ID" class="form-control input-sm" ng-model="$parent.form.albumIds" >
                                    </div>
                                    <label class="col-sm-1 control-label" >专辑名</label>
                                    <div class="col-sm-2">
                                        <input class="form-control input-sm"  type="text" placeholder="请输入专辑名" ng-model="$parent.form.albumName" >
                                    </div>
                                    <label class="col-sm-1 control-label" >编辑人员</label>
                                    <div class="col-sm-2">
                                        <edit-user-tpl></edit-user-tpl>
                                    </div>
                                    <label class="col-sm-1 control-label" >艺人名</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入艺人名" class="form-control input-sm" ng-model="$parent.form.artistName">
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 2">
                                    <label class="col-sm-1 control-label" >提交时间起</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入提交起始时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.startTime" is-open="dateStatus.opened1"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(1)" >
                                    </div>
                                    <label class="col-sm-1 control-label" >提交时间止</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入提交截止时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.endTime" is-open="dateStatus.opened2"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(2)" >
                                    </div>
                                    <label class="col-sm-1 control-label" >人工评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.mscoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.mscoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >热度评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.hotScoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.hotScoreMax" decimal>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 3">
                                    <label class="col-sm-1 control-label" >艺人ID</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入艺人ID" class="form-control input-sm" ng-model="$parent.form.artistIds" >
                                    </div>
                                    <label class="col-sm-1 control-label" >艺人名</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入艺人名" class="form-control input-sm" ng-model="$parent.form.artistName" >
                                    </div>
                                    <label class="col-sm-1 control-label" >提交时间起</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入提交起始时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.startTime" is-open="dateStatus.opened1"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(1)" >
                                    </div>
                                    <label class="col-sm-1 control-label" >提交时间止</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入提交截止时间" class="form-control input-sm" my-date uib-datepicker-popup ng-model="$parent.form.endTime" is-open="dateStatus.opened2"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(2)" >
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 3">
                                    <label class="col-sm-1 control-label" >编辑人员</label>
                                    <div class="col-sm-2">
                                        <edit-user-tpl></edit-user-tpl>
                                    </div>
                                    <label class="col-sm-1 control-label" >人工评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.mscoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.mscoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >热度评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.hotScoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.hotScoreMax" decimal>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 2 || type == 3">
                                    <div class="col-sm-3">
                                        <tag-search-tpl></tag-search-tpl>
                                    </div>
                                    <div class="col-sm-2" ng-if="form.style">
                                        <div class="radio c-radio c-radio-nofont" ng-click="changeTagType(1);">
                                            <label>
                                                <input type="radio" value="1" ng-model="form.style">
                                                <span></span>主风格
                                            </label>
                                        </div>
                                        <div class="radio c-radio c-radio-nofont" ng-click="changeTagType(2);">
                                            <label>
                                                <input type="radio" value="2" ng-model="form.style">
                                                <span></span>次风格
                                            </label>
                                        </div>
                                    </div>
                                    <label class="col-sm-7 control-label " style="text-align: left">
                                        <span class='label label-default tag' ng-repeat="tag in form.tagBeans ">
                                            <i>{{tag.name}}</i>&nbsp;<em class="fa fa-remove" ng-click="artistTagRemove(tag)"></em>
                                        </span>
                                    </label>
                                </div>
                                <div class="form-group" ng-if="type == 1">
                                    <div class="col-sm-3">
                                        <songtag-search-tpl></songtag-search-tpl>
                                    </div>
                                    <label class="col-sm-8 control-label" style="text-align: left;">
                                    <span class='label label-default tag' ng-repeat="tag in form.searchTag">
                                        <i>{{tag.name}}</i>&nbsp;<em class="fa fa-remove" ng-click="songTagRemove(tag)"></em>
                                    </span>
                                    </label>
                                </div>
                                <div class="form-group" ng-if="type == 4">
                                    <label class="col-sm-1 control-label" >歌曲ID</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入歌曲ID" class="form-control input-sm" ng-model="$parent.form.songIds" >
                                    </div>
                                    <label class="col-sm-1 control-label" >歌曲名</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入歌曲名" class="form-control input-sm" ng-model="$parent.form.songName"  >
                                    </div>
                                    <label class="col-sm-1 control-label" >歌手名</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入歌手名" class="form-control input-sm" ng-model="$parent.form.artistName">
                                    </div>
                                    <label class="col-sm-1 control-label" >专辑名</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入专辑名" class="form-control input-sm" ng-model="$parent.form.albumName"  >
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 4">
                                    <label class="col-sm-1 control-label" >编辑人员</label>
                                    <div class="col-sm-2">
                                        <edit-user-tpl></edit-user-tpl>
                                        <!--<input type="text" placeholder="请输入歌曲名" class="form-control input-sm" ng-model="$parent.tag.uid"  uib-typeahead="u as u.name for u in users | filter:$viewValue">-->
                                    </div>
                                    <label class="col-sm-1 control-label" >歌曲打标签时间起</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入歌曲打标签起始时间" class="form-control input-sm" my-date ng-model="$parent.form.tagStartTime"  uib-datepicker-popup is-open="dateStatus.opened1"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(1)" >
                                    </div>
                                    <label class="col-sm-1 control-label" >歌曲打标签时间止</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入歌曲打标签截止时间" class="form-control input-sm" my-date ng-model="$parent.form.tagEndTime"  uib-datepicker-popup is-open="dateStatus.opened2"
                                               datepicker-options="dateOptions" current-text="今天" clear-text="清除" close-text="关闭" ng-click="open(2)">
                                    </div>
                                    <label class="col-sm-1 control-label" >新歌/首发</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入新歌/首发" class="form-control input-sm" ng-model="$parent.form.newSong" >
                                    </div>
                            </div>
                                <div class="form-group" ng-if="type == 4">
                                    <label class="col-sm-1 control-label" >优质度</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入优质度" class="form-control input-sm" ng-model="$parent.form.degree">
                                    </div>
                                    <label class="col-sm-1 control-label" >人工评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.mscoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.mscoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >热度评分</label>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="起始" class="form-control input-sm" ng-model="$parent.form.hotScoreMin" decimal>
                                    </div>
                                    <div class="col-sm-1">
                                        <input type="text" placeholder="截止" class="form-control input-sm" ng-model="$parent.form.hotScoreMax" decimal>
                                    </div>
                                    <label class="col-sm-1 control-label" >紧急程度</label>
                                    <div class="col-sm-2">
                                        <select ng-model="$parent.form.urgentDegree" class="form-control input-sm">
                                            <option value="">请选择紧急程度</option>
                                            <option value="0">0</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">-1</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="form-group" ng-if="type == 4">
                                    <div class="col-sm-3">
                                        <songtag-search-tpl></songtag-search-tpl>
                                    </div>
                                    <label class="col-sm-8 control-label" style="text-align: left;">
                                    <span class='label label-default tag' ng-repeat="tag in form.searchTag">
                                        <i>{{tag.name}}</i>&nbsp;<em class="fa fa-remove" ng-click="songTagRemove(tag)"></em>
                                    </span>
                                    </label>
                                </div>
                                <div class="form-group" ng-if="type == 5">
                                    <label class="col-sm-1 control-label" >开始时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入开始时间" class="form-control input-sm" >
                                    </div>
                                    <label class="col-sm-1 control-label" >结束时间</label>
                                    <div class="col-sm-2">
                                        <input type="text" placeholder="请输入结束时间" class="form-control input-sm" >
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-sm-4">
                                        <div class="btn-group" ng-controller="ModalCtrl">
                                            <!--<button class="btn btn-default btn-sm" ng-if="type == 1" ui-sref="app.examine.1({type:type,copyrightId:song.copyrightId,songIds:song.songIds,songName:song.songName,albumName:song.albumName,artistName:song.artistName,degree:song.degree,newSong:song.newSong,uid:song.uid.uId,startTime:song.startTime,endTime:song.endTime,mscoreMin:song.mscoreMin,mscoreMax:song.mscoreMax,hotScoreMin:song.hotScoreMin,hotScoreMax:song.hotScoreMax,projectName:song.projectName,urgentDegree:song.urgentDegree})" ui-sref-opts="{reload: true}">查询</button>-->
                                            <!--<button class="btn btn-default btn-sm" ng-if="type == 2" ui-sref="app.examine.2({albumIds:album.albumIds,type:type,artistName:album.artistName,albumName:album.albumName,uid:album.uid.uId,startTime:album.startTime,endTime:album.endTime,mscoreMin:album.mscoreMin,mscoreMax:album.mscoreMax,hotScoreMin:album.hotScoreMin,hotScoreMax:album.hotScoreMax})" ui-sref-opts="{reload: true}">查询</button>-->
                                            <button class="btn btn-default btn-sm" ng-click="submit();">查询</button>
                                            <!--<button class="btn btn-default btn-sm" ng-if="type == 4" ui-sref="app.examine.4({type:type,songIds:tag.songIds,songName:tag.songName,artistName:tag.artistName,copyrightId:tag.copyrightId,albumName:tag.albumName,uid:tag.uid.uId,tagStartTime:tag.tagStartTime,tagEndTime:tag.tagEndTime,newSongStartTime:tag.newSongStartTime,newSongEndTime:tag.newSongEndTime,degreeStartTime:tag.degreeStartTime,degreeEndTime:tag.degreeEndTime})" ui-sref-opts="{reload: true}">查询</button>-->
                                            <button class="btn btn-default btn-sm disabled" >导入</button>
                                            <button class="btn btn-default btn-sm disabled">导出</button>
                                            <button class="btn btn-default btn-sm" ng-click="batchExamine(datas,form,types);">批量审核</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" id="panelDemo2">
        <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo2}">数据列表<paneltool tool-collapse="tool-collapse"></paneltool></div>
        <div collapse="panelDemo2" class="panel-wrapper">
            <div class="panel-body">
                <div class="table-responsive" ui-view="data-list">

                </div>
            </div>
        </div>
        <div class="panel-footer"></div>
    </div>
</div>
<!-- Modal inline template-->
<script type="text/ng-template" id="/myModalContent.html">
    <div class="modal-header">
        <button type="button"  class="close" ng-click="cancel();">×</button>
        <h4 id="myModalLabel" class="modal-title">批量审核</h4>
    </div>
    <div class="modal-body">
        <form class="form-horizontal" >
            <div class="form-group">
                <div class="radio c-radio c-radio-nofont" style="float: left;margin-left: 15px;">
                    <label>
                        <input type="radio" value="1" ng-model="batch.type" />
                        <span></span>
                    </label>
                </div>
                <label class="control-label">审核选择数据</label>
            </div>
            <div class="form-group">
                <div class="radio c-radio c-radio-nofont" style="float: left;margin-left: 15px;">
                    <label>
                        <input type="radio"  value="2" ng-model="batch.type"  />
                        <span></span>
                    </label>
                </div>
                <label class="control-label">审核序号数据</label>
                <label class="control-label col-sm-1">起</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" ng-model="batch.startNo"/>
                </div>
                <label class="control-label col-sm-1">止</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" ng-model="batch.endNo"/>
                </div>
            </div>
            <div class="form-group">
                <div class="radio c-radio c-radio-nofont" style="float: left;margin-left: 15px;">
                    <label>
                        <input type="radio"  value="3" ng-model="batch.type"  />
                        <span></span>
                    </label>
                </div>
                <label class="control-label">审核页数数据</label>
                <label class="control-label col-sm-1">起</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" ng-model="batch.pageStart"/>
                </div>
                <label class="control-label col-sm-1">止</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control input-sm" ng-model="batch.pageEnd"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-2">审核结果</label>
                <div class="col-sm-4">
                    <div class="radio c-radio c-radio-nofont">
                        <label>
                            <input type="radio"  value="1" ng-model="batch.pass"  />
                            <span></span>
                        </label>
                    </div>
                    <span>通过</span>
                    <div class="radio c-radio c-radio-nofont">
                        <label>
                            <input type="radio"  value="2" ng-model="batch.pass"  />
                            <span></span>
                        </label>
                    </div>
                    <span>不通过</span>
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <span style="color: red;">{{error}}</span>
        <button type="button" ng-click="ok();" class="btn btn-primary">确认</button>
        <button type="button" ng-click="cancel();" class="btn btn-warning">取消</button>
    </div>
</script>