<!--Created by hao.cheng on 2016/8/2.-->
<table class="table table-striped">
   <thead>
      <tr>
         <th style="width: 50px">
            <check-all-btn></check-all-btn>
         </th>
         <th style="width: 40px;">序号</th>
         <th style="width: 100px;" ng-if="$parent.module == 0">状态</th>
         <th style="width: 140px;">歌曲ID</th>
         <th style="width: 120px;">歌曲名</th>
         <th style="width: 120px;">艺人名</th>
         <th style="width: 140px;">专辑名</th>
         <th style="width: 100px;" ng-if="$parent.module == 0">创建时间</th>
         <th style="width: 100px;" ng-if="$parent.module == 1 || $parent.module == '-1,1,2'">工单状态</th>
         <th style="width: 80px;" ng-if="$parent.module == 1 || $parent.module == 3">用户</th>
         <th style="width: 120px;" ng-if="$parent.module == '-1,1,2'">操作</th>
         <th style="width: 100px;" ng-if="$parent.module != 0 ">分配时间</th>
         <th style="width: 100px;" ng-if="$parent.module == 3">完成时间</th>
      </tr>
   </thead>
   <tbody>
      <tr ng-repeat="data in $parent.datas track by $index" class="gradeX odd">
         <td>
            <div class="checkbox c-checkbox">
               <label>
                  <input type="checkbox" ng-model="data.isCheck" />
                  <span class="fa fa-check"></span>
               </label>
            </div>
         </td>
         <td>{{$index+1}}</td>
         <td ng-if="$parent.module == 0">
            <span ng-if="data.status == 10" class="label label-default tag">正常</span>
            <span ng-if="data.status == 12" class="label label-default tag">待审核</span>
            <span ng-if="data.status == 14" class="label label-default tag">审核中</span>
            <span ng-if="data.status == 111" class="label label-default tag">审核未通过</span>
            <span ng-if="data.status == 30" class="label label-default tag">禁用</span>
         </td>
         <td>{{data.songId}}</td>
         <td>
            <play-icon></play-icon>
            <td-song></td-song>
         </td>
         <td>
            <td-artists></td-artists>
         </td>
         <td>
            <td-albums></td-albums>
         </td>
         <td ng-if="$parent.module == 0">{{data.createTime | date : 'yyyy-MM-dd'}}</td>
         <td ng-if="$parent.module == 1 || $parent.module == '-1,1,2'">
            <span ng-if="data.taskStatus == 1" class="label label-default tag">待办</span>
            <span ng-if="data.taskStatus == 2" class="label label-default tag">待审核</span>
            <span ng-if="data.taskStatus == -1" class="label label-default tag">审核未通过</span>
         </td>
         <td ng-if="$parent.module == 1 || $parent.module == 3">{{data.edit.name}}</td>
         <td ng-if="$parent.module == '-1,1,2'"><a ng-click="tagging(data, '_self');" ng-right-click="tagging(data, '_blank');" ng-if="data.status != 30">打标签&nbsp;</a></td>
         <td ng-if="$parent.module != 0 ">{{data.distributionTime | date : 'yyyy-MM-dd'}}</td>
         <td ng-if="$parent.module == 3">{{data.completeTime | date : 'yyyy-MM-dd'}}</td>
      </tr>
   </tbody>
</table>
<ng-include src="'app/views/partials/pagination.html'"></ng-include>