//
   Created by YuChunzhuo on 2016/8/26.

label.col-sm-1.control-label 状态
div.col-sm-2
    select.form-control.input-sm(ng-model="form.tagStatus")
        option(value="") 请选择
        option(value="1") 通过
        option(value="-1") 禁用
        option(value="0") 默认