//
   Created by hao.cheng on 2016/8/22.
label.col-sm-1.control-label 状态
div.col-sm-2
    select.form-control.input-sm(ng-model="form.status")
        option(value="") 请选择
        option(value="10") 正常
        option(value="12") 待审核
        option(value="14") 审核中
        option(value="111") 审核未通过
        option(value="30") 禁用

