//
   Created by YuChunzhuo on 2016/8/26.

label.col-sm-1.control-label 分类
div.col-sm-2
    select.form-control.input-sm(ng-model="form.copyrightCategory")
        option(value="") 请选择
        option(value="1") 正式未过期
        option(value="2") 正式已过期
        option(value="3") 互联网引入
        option(value="4") 未引入
