//
   Created by YuChunzhuo-Dev on 2016/8/31.
.col-sm-3
    tag-search-one-tag-tpl
label.col-sm-7.control-label(style="text-align: left")
    span.label.label-default.tag(ng-repeat="tag in form.tagBeans track by $index")
        i {{tag.name}}
        em.fa.fa-remove(ng-click="artistTagRemove(tag)")
