//
   Created by hao.cheng on 2016/8/22.
label.col-sm-1.control-label(ng-if="module == 3") 完成时间起
div.col-sm-2(ng-if="module == 3")
    input.form-control.input-sm(type="text",placeholder="请输入完成时间起",ng-model="form.completeStartTime",my-date="",uib-datepicker-popup="",is-open="date5",datepicker-options="dateOptions",close-text="关闭",clear-text="清除",current-text="今天",ng-click="date5 = !date5")
label.col-sm-1.control-label(ng-if="module == 3") 完成时间止
div.col-sm-2.special-datepicker(ng-if="module == 3")
    input.form-control.input-sm(type="text",placeholder="请输入完成时间止",ng-model="form.completeEndTime",my-date="",uib-datepicker-popup="",is-open="date6",datepicker-options="dateOptions",close-text="关闭",clear-text="清除",current-text="今天",ng-click="date6 = !date6;")
