//
   Created by hao.cheng on 2016/8/22.
label.col-sm-1.control-label 分配时间起
div.col-sm-2
    input.form-control.input-sm(type="text",placeholder="请输入分配时间起",ng-model="form.distributionStartTime",my-date="",uib-datepicker-popup="",is-open="date3",datepicker-options="dateOptions",close-text="关闭",clear-text="清除",current-text="今天",ng-click="date3 = !date3")
label.col-sm-1.control-label 分配时间止
div.col-sm-2
    input.form-control.input-sm(type="text",placeholder="请输入分配时间止",ng-model="form.distributionEndTime",my-date="",uib-datepicker-popup="",is-open="date4",datepicker-options="dateOptions",close-text="关闭",clear-text="清除",current-text="今天",ng-click="date4 = !date4")
