<!--Created by YuChunzhuo-Dev on 2016/8/18.-->
<span title="未关联状态" ng-if="data.status == -1" class="label label-default">未关联</span>
<span title="初始状态" ng-if="data.status == 0" class="label label-default">初</span>
<span title="抽取状态" ng-if="data.status == 1" class="label label-default">抽</span>
<span title="正常状态" ng-if="data.status == 10" class="label label-default">正常</span>
<span title="待审核状态" ng-if="data.status == 12" class="label label-default">待审核</span>
<span title="审核中状态" ng-if="data.status == 14" class="label label-default">审核中</span>
<span title="编辑中状态" ng-if="data.status == 15" class="label label-default">编辑中</span>
<span title="待删除状态" ng-if="data.status == 20" class="label label-default">待删除</span>
<span title="禁用状态" ng-if="data.status == 30" class="label label-default">禁用</span>
<span title="未通过状态" ng-if="data.status == 111" class="label label-default">未通过</span>
<span title="素材锁定" ng-if="data.mstat == 4" class="label label-default">锁</span>