<!--Created by kiracheng on 2016/6/17.-->
<div ng-controller="PaginationCustomController" class="paginate">
   <div class="col-sm-5">每页显示
      <select ng-change="choosePageSize(pageSize);" ng-model="pageSize" ng-options="option.value as option.value for option in pageSizeOptions"></select>
      <span>总共{{page.totalPage}}页,共</span>
      <span>{{page.totalItems}}条记录,每页显示</span>
      <span>{{page.itemsPerPage}}条记录</span>
   </div>
   <div class="col-sm-7">
      <uib-pagination total-items="page.totalItems" items-per-page="page.itemsPerPage" ng-change="choosePage();" ng-model="page.currentPage" max-size="page.maxSize" boundary-links="true" previous-text="往前" first-text="第一页" last-text="最后一页" next-text="往后"
         rotate="false" style="margin: 0 5px 0 0;width:auto;" class="pagination-sm"></uib-pagination>
      <ul style="margin: 0 5px 0 0;width:auto;" class="pagination-sm pagination">
         <li class="pagination-first">
            <a style="padding: 3px 12px;">
               <input style="width: 50px;" ng-model="pageNo" valid-number="valid-number" />
            </a>
         </li>
         <li class="pagination-prev"><a href="javascript:;" ng-click="jumpPage(pageNo);">跳转</a></li>
      </ul>
   </div>
</div>