<!--Created by YuChunzhuo on 2016/8/26.-->
<div>
   <div class="form-group">
      <ng-include src="'app/views/partials/search-conditions/copyright-id.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/song-id.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/song-name.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/artist-name.html'"></ng-include>
   </div>
   <div class="form-group">
      <ng-include src="'app/views/partials/search-conditions/user.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/time-operating.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/tag-order.html'"></ng-include>
   </div>
   <div class="form-group">
      <ng-include src="'app/views/partials/search-conditions/hotscore.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/mscore.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/tag-type.html'"></ng-include>
      <ng-include src="'app/views/partials/search-conditions/status-tag.html'"></ng-include>
   </div>
   <div class="form-group">
      <ng-include src="'app/views/partials/search-conditions/tagsearch-onetag.html'"></ng-include>
   </div>
   <div class="form-group">
      <div class="col-sm-4">
         <div ng-controller="ModalCtrl" class="btn-group">
            <button task-submit="" class="btn btn-default btn-sm">查询</button>
            <button task-reset="" class="btn btn-default btn-sm">重置</button>
            <button ng-click="qualityTagExport(datas, form);" class="btn btn-default btn-sm">导出</button>
            <!--button.btn.btn-default.btn-sm 收藏-->
            <!--button.btn.btn-default.btn-sm(ng-click="qualityTagBatch($parent.datas, form);") 批量操作-->
         </div>
      </div>
   </div>
</div>
<div ng-include="'app/views/modals/modal-export.html'"></div>