<div class="container-fluid">
    <div class="row-fluid">
        <div class="span12">
            <h3 class="page-title">
                媒资库<span class="divider">/</span>用户中心<span class="divider">/</span>权限管理
            </h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default" id="panelDemo1">
                <div class="panel-heading" ng-class="{'panel-heading-collapsed':panelDemo1}" >角色列表 <paneltool tool-collapse="tool-collapse"></paneltool></div>
                <div collapse="panelDemo1" class="panel-wrapper">
                    <div class="panel-body" ng-controller="ModalCtrl">
                        <div class="col-sm-2">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="请输入关键字搜索" ng-model="search.$">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button" ><em class="icon-magnifier"></em></button>
                                    </span>
                            </div>
                        </div>
                        <div class="col-sm-3 pull-right">
                            <div class="btn-group"  ng-controller="ModalCtrl">
                                <button type="button" class="btn btn-default " ng-click="addRole();" >新增角色</button>
                                <button type="button" class="btn btn-default " ng-click="delRole();">删除角色</button>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                <tr role="row">
                                    <th style="width: 24px;" class="sorting_disabled">
                                        <!--<div class="checker" id="uniform-undefined"><span ng-class="{true: 'checked', false: ''}[allIsCheck]"><input type="checkbox" class="group-checkable" ng-model="all" data-set=".checkboxes" ng-click='checkAll(all, datas)' style="opacity: 0;margin-top:0;"></span>-->
                                        <!--</div>-->
                                    </th>
                                    <th class="hidden-phone sorting" style="width: 130px;border-left: 0;">角色id</th>
                                    <th class="sorting" style="width: 107px;">角色名称</th>
                                    <th class="hidden-phone sorting" style="width: 123px;">操作</th>
                                </thead>
                                <tbody role="alert" >
                                <tr class="gradeX odd" ng-repeat="data in roles | filter:search">
                                    <td class="sorting_1">
                                        <div class="checkbox c-checkbox">
                                            <label>
                                                <input type="checkbox" name="check_box" class="checkboxes" ng-model="checkb" ng-true-value="true" ng-click="chk(data, data.isCheck)">
                                                <span class="fa fa-check"></span>
                                            </label>
                                        </div>
                                    </td>
                                    <td class="hidden-phone" >{{data.id}}</td>
                                    <td >{{data.name}}</td>
                                    <td class="hidden-phone">
                                        <a href="javascript:;" ng-click="openAuthority(data.id);">分配权限</a>&nbsp;&nbsp;
                                        <a href="javascript:;" ng-click="openUser(data.id);">用户管理</a>&nbsp;&nbsp;
                                    </td>
                                </tr>
                                </tbody>
                                <script type="text/ng-template" id="authority.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">权限列表</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul id="authorityTree" class="ztree"></ul>
                                    </div>
                                    <form class="form-horizontal" >
                                        <div class="modal-footer">
                                            <span style="color: red;">{{error}}</span>
                                            <button class="btn btn-primary" type="button" ng-click="ok(id)">更改</button>
                                            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                                        </div>
                                    </form>
                                </script>
                                <script type="text/ng-template" id="user.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">用户列表</h3>
                                    </div>
                                    <div class="modal-body">
                                <span action-type="check" title="{{data.userName}}" class="W_btn_b W_btn_tag" ng-repeat="data in datas track by $index">
                                    <span class="W_arrow_bor W_arrow_bor_l"><i class="S_line3"></i><em class="S_bg2_br"></em></span>
                                    <i id="{{data.userId}}">{{data.userName}}</i>&nbsp;&nbsp;<i class="fa fa-remove" style="cursor:pointer;" ng-click="removeUser(data.userId,id);"></i>
                                </span>
                                    </div>
                                    <div class="modal-footer">
                                        <span style="color: red;">{{error}}</span>
                                        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                                    </div>
                                </script>
                                <script type="text/ng-template" id="addRole.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">新增角色</h3>
                                    </div>
                                    <div class="modal-body">
                                        <form class="form-horizontal" >
                                            <div class="control-group role">
                                                <label class="control-label">角色名称</label>
                                                <div class="controls">
                                                    <input type="text" class="span3" ng-model="role.name">
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <div class="modal-footer">
                                        <span style="color: red;">{{error}}</span>
                                        <button class="btn btn-primary" type="button" ng-click="ok()">确认</button>
                                        <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                                    </div>
                                </script>
                                <script type="text/ng-template" id="rAuthority.html">
                                    <div class="modal-header">
                                        <h3 class="modal-title">权限列表</h3>
                                    </div>
                                    <div class="modal-body">
                                        <ul id="rAuthorityTree" class="ztree"></ul>
                                    </div>
                                    <form class="form-horizontal" >
                                        <div class="modal-footer">
                                            <span style="color: red;">{{error}}</span>
                                            <button class="btn btn-primary" type="button" ng-click="ok(id)">确认</button>
                                            <button class="btn btn-warning" type="button" ng-click="cancel()">取消</button>
                                        </div>
                                    </form>
                                </script>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>