//
   Created by hao.cheng on 2016/8/15.
.col-sm-3
    .input-group
        input.form-control(type="text", placeholder="请输入关键字搜索", ng-model="form.searchKeyWord")
        span.input-group-btn
            button.btn.btn-default(type="button", task-submit="")
                em.icon-magnifier
.col-sm-3.pull-right
    .btn-group
        button.btn.btn-default(ng-click='addDic();') 新增
table.table.table-striped
    thead
        tr
            th(style="width: 50px")
                check-all-btn
            th(style="width: 140px;",ng-if="type == 'country'") 国家/地区名称
            th(style="width: 100px;",ng-if="type == 'country'") 国家/地区全拼音
            th(style="width: 140px;",ng-if="type == 'nation'") 民族名称
            th(style="width: 100px;",ng-if="type == 'nation'") 所在国家/地区
            th(style="width: 100px;",ng-if="type == 'nation'") 民族全拼音
            th(style="width: 140px;") 拼音首字母组合
            th(style="width: 120px;") 操作功能
    tbody
        tr.gradeX.odd(ng-repeat="data in datas track by $index")
            td
                div.checkbox.c-checkbox
                    label
                        input(type="checkbox",ng-model="data.isCheck")
                        span.fa.fa-check
            td
                span(editable-text='data.name', e-name='name', e-form='rowform', e-required='', e-ng-model="data.name") {{ data.name }}
            td(ng-if="type == 'nation'")
                span(editable-text='data.countryName', e-name='countryName', e-form='rowform', e-required='', e-ng-model="data.countryName") {{ data.countryName }}
            td
                span(editable-text='data.pinyin', e-name='status', e-form='rowform', e-required='', e-ng-model="data.pinyin") {{data.pinyin}}
            td
                span(editable-text='data.pyfirstletters', e-name='group', e-form='rowform', e-required='', e-ng-model="data.pyfirstletters") {{data.pyfirstletters}}
            td(style='white-space: nowrap')
                // form
                form.form-buttons.form-inline(editable-form='', name='rowform', ng-show='rowform.$visible', shown='table.inserted == data')
                    button.btn.btn-sm.btn-info(type='button', ng-disabled='rowform.$waiting', title="Save", ng-click="saveDic(data,rowform);"): em.fa.fa-save
                    button.btn.btn-sm.btn-default(type='button', ng-disabled='rowform.$waiting', ng-click='rowform.$cancel()', title="Cancel"): em.fa.fa-times
                .buttons(ng-show='!rowform.$visible')
                    button.btn.btn-sm.btn-info(ui-sref="app.dictionaryEdit({type: type, id: data.id})", title="Edit"): em.fa.fa-pencil
                    button.btn.btn-sm.btn-danger(ng-click='deleteDic(data);', title="Delete"): em.fa.fa-trash
ng-include(src="'app/views/partials/pagination.html'")
