<!--Created by kiracheng on 2016/5/5.
-->
<div ng-controller="SongAllController as song" class="container-fluid">
   <div class="row">
      <div class="col-lg-12">
         <div id="songSearch" class="panel panel-info">
            <div class="panel-heading">查询条件</div>
            <div class="panel-wrapper">
               <div class="panel-body">
                  <div role="form" class="form-inline">
                     <div class="form-group">
                        <label class="control-label">歌曲ID：{{param.songIds}}</label>
                        <input placeholder="请输入歌曲ID" type="number" ng-model="param.songIds" name="param.songIds" class="form-control input-sm" />
                     </div>
                     <div class="form-group">
                        <label class="control-label">歌曲名称：</label>
                        <input placeholder="请输入歌曲名称" type="text" ng-model="param.songName" name="param.songName" class="form-control input-sm" />
                     </div>
                     <button ui-sref="app.song-all({songIds:param.songIds})" class="btn btn-default">查询</button>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
   <div class="row">
      <div class="col-lg-12">
         <div class="panel panel-info">
            <div class="panel-heading">歌曲列表</div>
            <div class="panel-wrapper">
               <div class="panel-body">
                  <button type="button" class="btn btn-pill-left btn-info">导入</button>
                  <button type="button" class="btn btn-pill-right btn-info">导出</button>
                  <div class="table-responsive">
                     <table class="table table-hover">
                        <thead>
                           <tr>
                              <th>状态</th>
                              <th>曲库状态</th>
                              <th>版权ID</th>
                              <th>歌曲ID</th>
                              <th>歌曲名</th>
                              <th>歌手</th>
                              <th>专辑名</th>
                              <th>时长</th>
                              <th>执行人</th>
                              <th>审核状态</th>
                              <th>操作</th>
                           </tr>
                        </thead>
                        <tbody>
                           <tr ng-repeat="data in datas">
                              <td>1</td>
                              <td>2</td>
                              <td>{{data.songId}}</td>
                              <td>{{data.songName}}</td>
                              <td>1</td>
                              <td>2</td>
                              <td>3</td>
                              <td>4</td>
                              <td>1</td>
                              <td>2</td>
                              <td>3</td>
                           </tr>
                        </tbody>
                     </table>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</div>